{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrameta %}{% endblock %}
    <title>{{ title }}</title>
    {% include 'core/_scripts.html' %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extrahead %}{% endblock %}
</head>
<body hx-boost="true" class="container-fluid" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'core/_navbar.html' %}
    {% block content %}{% endblock %}
</body>
</html>
