{% extends 'core/_base.html' %}

{% block content %}
    <main class="container">
        <a href="{% url 'user_detail' object.pk %}">Go Back...</a>
        <h1>Edit Profile</h1>
        <form action="{% url 'user_update' object.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button x-data="{busy: false}" :aria-busy="busy" :disabled="busy" @htmx:before-request.window="busy = true"  @htmx:after-request.window="busy = false" type="submit">
                Save
            </button>
        </form>
    </main>
{% endblock content %}
