{% extends 'core/_base.html' %}

{% block content %}
    <main class="container">
        <div style="display: flex; justify-content: space-between;">
            <a href="{% url 'accounts:index' %}">Go Back...</a>
            {% if request.user.pk == object.pk %}
                <a hx-target="#modal" href="{% url 'accounts:update' object.pk %}">Edit</a>
            {% endif %}
        </div>
        {% if request.user.pk == object.pk %}
            <h1>Your Profile</h1>
        {% else %}
            <h1>{{ object.username }}'s Profile</h1>
        {% endif %}
        <p>
            {{ object.bio }}
        </p>
       <h2>Recent Tweets</h2>
       {% for tweet in tweets %}
            {% include 'tweets/_tweet.html' with tweet=tweet is_liked=tweet.is_liked %}
       {% endfor %}
        <div id="modal"></div>
    </main>
{% endblock %}
